androguard==3.3.5
Flask==2.2.2
gunicorn==20.1.0
Jinja2==3.1.2
keras==2.9.0
Keras-Preprocessing==1.1.2
pycryptodome==3.15.0
Pyrebase4==4.5.0
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
virtualenv==20.13.0
Werkzeug==2.2.2
